absl-py==0.12.0
astor==0.8.1
bleach==3.3.0
captcha==0.3
certifi==2021.5.30
chardet==4.0.0
Click==8.0.1
cycler==0.10.0
easydict==1.9
Flask==2.0.1
gast==0.4.0
grpcio==1.38.0
html5lib==1.1
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
numpy==1.20.3
olefile==0.46
Pillow==8.2.0
protobuf==3.17.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.16.0
tensorboard==2.5.0
tensorflow==2.5.0
termcolor==1.1.0
urllib3==1.26.5
Werkzeug==2.0.1
